// REUSABLE MIXINS

@mixin circles {
	background-image: url(../img/circles.png);
	width: 217px;
	height: 217px;
	margin: auto;
}

@mixin rotate( $degrees ) {
	-webkit-transform: rotate(#{$degrees}deg);
	-moz-transform: rotate(#{$degrees}deg);
	-ms-transform: rotate(#{$degrees}deg);
	-o-transform: rotate(#{$degrees}deg);
	transform: rotate(#{$degrees}deg);

	filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
	zoom: 1;
}

@mixin navtoggle($onoff) {
	opacity: $onoff;
	position: absolute;
	background: $orange;
	color: white;
	padding: 20px;
	z-index: 10000;
	transition: all 0.5s ease;
	@media screen and (min-width: $medium) {
		left: -120px;
	}
	ul {
		padding: 0;
	}
	li {
	    list-style: none;
	    font-size: 21px;
	    margin-bottom: 11px;
	}
}

// TOP HEADER

.button-orange {
    border-radius: 10px;
    border: 2px solid $dark-orange;
    color: $dark-orange;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 292px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (min-width: 992px) {
		width: 238px;
		margin: auto;
	}
}

.button-grey {
	border-radius: 10px;
    border: none;
    color: $dark-green;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: $light-grey;
    @media screen and (min-width: 992px) {
		width: 238px;
		margin: auto;
	}
}

.burger-nav {
	@include burger(51px, 5px, 10.5px, $orange);
	margin-top: 50px;
	@media screen and (min-width: 992px) {
		margin-top: 63px;
	}
}

.nav-container {
	    position: relative;
	.nav {
		@include navtoggle(0); 
	}
	.show-nav {
		@include navtoggle(1);
	}
}

.circle {
    cursor: pointer;
    display: block;
    overflow: hidden;
    transition: all 5s;
}

.circle.is-active .burger-nav {
    @include burger-to-cross;
}

// EVENT FORECAST

.circles {
	span {
		line-height: 217px;
		text-align: center;
		width: 217px;
		display: block;
		font-size: 30px;
	}
	.red-circle {
		@include circles;
	}

	.blue-circle {
		@include circles;
		background-position-y: -218px;
	}

	.green-circle {
		@include circles;
		background-position-y: -436px;
	}

	.clabel {
		text-align: center;
		margin-top: 26px;
		margin-bottom: 26px;
		font-size: 21px;
		letter-spacing: .15px;
	}
}

// FUTURE RELEASE

.check {
	background-image: url("../img/check.png");
	height: 46px;
	width: 46px;
	display: inline-block;
	float: left;
}
