//  GLOBAL

.container {
    width: 100%;
}

.centered {
    width: 100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

// LOGO

span.logo {
    margin-top: 26px;
    display: block;
    text-align: center;
    margin-left: 50px;
    @media screen and (min-width: $medium) {
        text-align: left;
    }
    img {
        width: 100%;

        @media screen and (min-width: 400px) {
            width: auto;
        }

        @media screen and (min-width: $medium) {
            width: auto;
            text-align: left;
            margin-top: -9px;
        }
    }
}

// HERO IMAGE

#hero {
    background-image: url("../img/hero.jpg");
    max-width: 100%;
    height: auto;
    background-size: cover;
    height: 600px;
    margin-top: 40px;
    background-position-x: 30%;
}

// HEADER 

#header {
    opacity: 0;// for preload animation;
    .button-orange {
        margin-top: 20px;
        @media screen and (min-width: $medium) {
            margin-top: 44px;
            margin-left: 42px;
        }
    }
}

// FEATURES

#features {
    h1 {
        margin-bottom: 74px;
        margin-top: 120px;
    }
    .row {
        color: white;
        min-height: 200px;
        h2 {
            margin-left: 12px;
        }
    }

    .data {
        text-shadow: 1px 1px $dark-green;
        background: url("../img/paralax/icons.png") $dark-green no-repeat;
        background-position: right 10px;
        overflow: hidden;

        @media screen and (min-width: $medium) {
            padding-top: 33px;
            padding-bottom: 31px;
            padding-left: 95px;
            padding-right: 95px;
        }
        @media screen and (min-width: $full) {
            background-position-x: 748px;
        }
        p {
            width: 100%;
            text-align: left;
            @media screen and (min-width: $medium) {
                width: 70%;
            }
            @media screen and (min-width: $full) {
                width: 57%;
                font-weight: 100;
                font-size: 20px;
            }
        }   
    }

    .analyze {
        text-shadow: 1px 1px $orange;
        background: url("../img/paralax/graph.png") $orange no-repeat -110px 23px;
        position: relative;
        text-align: right;
        @media screen and (min-width: $medium) {
            min-height: 349px;
        }

        .content {
            @media screen and (min-width: $medium) {
                padding-right: 72px;
                padding-top: 72px;
            }
        }

        .bottom-text {
            padding-top: 30px;
            @media screen and (min-width: $medium) {
                padding-top: 0;
                position: absolute;
                top: 247px;
                padding-right: 95px;
            }
        }   

        p {
            text-align: right;
        }

        .achieve {
            p {
                text-align: left;   
            }
        }
    }

    .achieve {
        text-shadow: 1px 1px $dark-green;
        background: url("../img/paralax/mountains.png") $dark-green no-repeat;
        background-position-x: right;
        @media screen and (min-width: $medium) {
            padding-top: 18px;
            padding-left: 95px;
        }
    }
}

// FUTURE RELEASE

#future-release {
    overflow: hidden;

    h1 {
        margin-bottom: 70px;
    }

    ul {
        width: 100%;
        margin: auto;
        text-align: center;
        li {
            overflow: hidden;
            line-height: 48px;
            list-style: none;
            color: white;
            font-size: 21px;
            margin-top: 25px;
        }
    }

    span {
        display: inline-block;
        line-height: 48px;
        display: block;
        float: left;
        margin-left: 17px;
    }


    .left {
        position: relative;
        background-image: url("../img/bike.jpg");
        float: left;
        background-size: cover;
        width: 100%;
        padding-bottom: 86px;
        @media screen and (min-width: $medium) {
            width: 50%;
        }

        ul {
            width: 346px;
            margin: auto;
            padding-top: 60px;
            @media screen and (min-width: $medium) {
                padding-left: 27%;  
                margin: 0;
                width: 100%;
            }
        }
    }

    .right {
        background-image: url("../img/freedom.jpg");
        width: 100%;
        background-size: cover;
        float: left;
        padding-bottom: 86px;
        @media screen and (min-width: $medium) {
            width: 50%;
        }
        ul {
            width: 346px;
            margin: auto;
            padding-top: 60px;
            @media screen and (min-width: $medium) {
                padding-left: 33%;
                margin: 0;
                width: 100%;
            }
        }
    }

    .logo-small {
        display: none;
        @media screen and (min-width: $medium) {
            display: block;
            right: -133px;
            left: unset;
            top: 69px;
            position: absolute;
            background-image: url("../img/logo-small.png");
            background-size: cover;
            height: 265px;
            width: 265px;
        }
    }
}

// SIGN UP BUTTON 

#signup-button {
    margin-top: 70px;
    margin-bottom: 70px;
}

// SIGN UP

#signup {
    background: $dark-green;
    color: white;
    text-align: center;

    p { 
        padding: 21px;
        width: 100%;
        margin: auto;
        @media screen and (min-width: $medium) {
            width: 76%;
        }
    }
}

// REQUEST ACCESS

#request-access {
    margin-top: 40px;
    .button-orange,
    .button-grey {
        margin: 10px;
    }

    .form-control:focus {
        box-shadow: inset 0 1px 1px $orange, 0 0 8px $orange;
    }

    .form-group {
        margin: auto;
        width: 320px;
        @media screen and (min-width: $medium) {
            width: auto;
        }
    }

    button.button-orange {
        background: none;
    }

    h2 {
        @media screen and (min-width: $medium) {
            font-size: 32px;
            width: 66%;
            margin: auto;
            line-height: 52px;
            letter-spacing: .70px;
        }
    }

    .button-grey {
        padding-top: 24px;
        padding-bottom: 23px;
        @media screen and (min-width: $medium) {
            width: 100%;
        }
    }

    .button-orange {
        @media screen and (min-width: $medium) {
            width: 100%;
        }
    }
}

// FOOTER 

#footer {
    text-align: center;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    min-height: 172px;
    margin-top: 20px;
    color: white;
    @media screen and (min-width: $medium) {
        text-align: left;
        padding-top: 40px;
    }

    hr {
        color: #5ba0cf;
        width: 74px;
        float: left;
        margin-top: -8px;
        border: 2px solid;
    }
    h2 {
        @media screen and (min-width: $medium) {
            font-size: 18px;
            margin-top: 3px;
        }
    }

    p {
        clear: both;
        @media screen and (min-width: $medium) {
            font-size: 18px;
        }
    }

    .left {
        @media screen and (min-width: $medium) {
            padding-left: 90px;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .right {
        @media screen and (min-width: $medium) {
            padding-right: 90px;
        }
        p {
            @media screen and (min-width: $medium) {
                text-align: right;
                font-size: 14px;
            }
        }
    }
}
