//  GLOBAL

.container {
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.centered {
    width: 100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

// LOGO

span.logo {
    margin-top: 26px;
    display: block;
    text-align: center;
    @media screen and (min-width: $medium) {
        text-align: left;
        margin-left: 50px;
    }
    img {
        width: 200px;

        @media screen and (min-width: 400px) {
            //width: auto;
        }

        @media screen and (min-width: $medium) {
            width: auto;
            text-align: left;
            margin-top: -9px;
        }
    }
}

// HERO IMAGE

#hero {
    background-image: url("../img/hero.jpg");
    max-width: 100%;
    height: auto;
    background-size: cover;
    height: 600px;
    margin-top: 40px;
    background-position-x: 30%;
}

// HEADER 

#header {
    opacity: 0;// for preload animation;
    .button-orange {
        margin-top: 20px;
        @media screen and (min-width: $medium) {
            margin-top: 44px;
            margin-left: 42px;
        }
    }
}

// FEATURES

#features {
    h1 {
        margin-bottom: 74px;
        margin-top: 120px;
    }
    .row {
        color: white;
        min-height: 200px;
    }

    .data {
        text-shadow: 1px 1px $dark-green;
        background-position: 120% 10px;
        overflow: hidden;
        background-color: $dark-green;
        background-repeat: no-repeat;


        @media screen and (min-width: $medium) {
            padding-top: 33px;
            padding-bottom: 31px;
            padding-left: 95px;
            padding-right: 95px;
            background-image: url("../img/paralax/icons.png");
            background-position-x: 115%;

            /*This will work for firefox*/
            @-moz-document url-prefix() {
                background-position: 115% 0px;
            }

        }
        @media screen and (min-width: $full) {
            background-position-x: right;
        }
        p {
            width: 100%;
            text-align: left;
            @media screen and (min-width: $medium) {
                width: 70%;
            }
            @media screen and (min-width: $full) {
                width: 57%;
                font-weight: 100;
                font-size: 20px;
            }
        }

         
    }

    .analyze {
        text-shadow: 1px 1px $orange;
        background-color: $orange;
        background-repeat: no-repeat;
        position: relative;
        text-align: left;
        @media screen and (min-width: $medium) {
            min-height: 349px;
            padding-top: 18px;
            padding-right: 95px;
            background-image: url("../img/paralax/graph.png");
            background-position: -250px 23px;
            text-align: right;

            p {
                text-align: right;
            }
        }

        @media screen and (min-width: $full) {
            background-position: -110px 23px;
        }

        .content {
            @media screen and (min-width: $medium) {
                padding-right: 72px;
                padding-top: 72px;
            }
        }

        .bottom-text {
            padding-top: 30px;
            @media screen and (min-width: $medium) {
                padding-top: 0;
                position: absolute;
                top: 247px;
                padding-right: 95px;
            }
        } 

        .achieve {
            p {
                // text-align: left;
                text-align: left;   
            }
        }
    }

    .achieve {
        text-shadow: 1px 1px $dark-green;
        background-color: $dark-green;
        background-repeat: no-repeat;
        // background-position-x: 100%;
        background-position: right 8px top;
        overflow: hidden;
        div#slope-biker, div#slope-runner{
            display: inline-block;
            background: url('../img/slopeBikerAndRunner.png') no-repeat;
            overflow: hidden;
        }
        div#slope-biker {
            position:absolute;
            display:block;
            background-position: -2px -0px; width: 79px; height: 76px;
            margin-left: 793px;
            margin-top: 250px;
        }   
        div#slope-runner {
            position:absolute;
            display:block;
            background-position: -2px -78px; width: 50px; height: 54px;
            margin-left:1530px;
            margin-top:250px;
        }
        .achieve-icons {
            position: absolute;
            margin-left: 250px;
            width: 500px;
            height: 100px;
            right: 1090px;
            display: none;

            @media screen and (min-width: $medium) {
                display: block;
            }
        }
        @media screen and (min-width: $medium) {
            padding-top: 18px;
            padding-left: 95px;
            background-image: url("../img/paralax/mountains.png");
            background-repeat: no-repeat;

            /*This will work for firefox*/
            @-moz-document url-prefix() {
                // background-position: right 0px;
            }
            
        }

        @media screen and (min-width: $full) {
            // background-position-x: right;
        }

    }
}

// EVENT FORECAST

#event-forecast {
    .label {
        text-align: center;
        color: $dark-green;
        font-size: 18px;
        margin: auto;
        width: 193px;
        display: block;
        margin-top: -20px;
        margin-bottom: 40px;
    }
}
// FUTURE RELEASE

#future-release {
    overflow: hidden;

    h1 {
        margin-bottom: 70px;
    }

    ul {
        width: 100%;
        margin: auto;
        text-align: center;
        li {
            overflow: hidden;
            line-height: 48px;
            list-style: none;
            color: white;
            font-size: 21px;
            margin-top: 25px;
        }
    }

    span {
        display: inline-block;
        line-height: 48px;
        display: block;
        float: left;
        margin-left: 17px;
    }


    .left {
        position: relative;
        background-image: url("../img/bike.jpg");
        float: left;
        background-size: cover;
        width: 100%;
        padding-bottom: 86px;
        @media screen and (min-width: $medium) {
            width: 50%;
        }

        ul {
            width: 346px;
            margin: auto;
            padding-top: 60px;
            @media screen and (min-width: $medium) {
                padding-left: 27%;  
                margin: 0;
                width: 100%;
            }
        }
    }

    .right {
        background-image: url("../img/freedom.jpg");
        width: 100%;
        background-size: cover;
        float: left;
        padding-bottom: 86px;
        @media screen and (min-width: $medium) {
            width: 50%;
        }
        ul {
            width: 346px;
            margin: auto;
            padding-top: 60px;
            @media screen and (min-width: $medium) {
                padding-left: 33%;
                margin: 0;
                width: 100%;
            }
        }
    }

    .logo-small {
        display: none;
        @media screen and (min-width: $medium) {
            display: block;
            right: -133px;
            left: unset;
            top: 69px;
            position: absolute;
            background-image: url("../img/logo-small.png");
            background-size: cover;
            height: 265px;
            width: 265px;
        }
    }
}

// SIGN UP BUTTON 

#signup-button {
    margin-top: 70px;
    margin-bottom: 70px;
}

// SIGN UP

#signup {
    background: $dark-green;
    color: white;
    text-align: center;

    p { 
        padding: 21px;
        width: 100%;
        margin: auto;
        @media screen and (min-width: $medium) {
            width: 76%;
        }
    }
}

// REQUEST ACCESS

#request-access {
    margin-top: 40px;
    .button-orange,
    .button-grey {
        margin: 10px 0px;
    }

    .form-control:focus {
        box-shadow: inset 0 1px 1px $orange, 0 0 8px $orange;
    }

    .form-group {
        margin: auto;
        width: 320px;
        @media screen and (min-width: $medium) {
            width: auto;
        }
    }

    button.button-orange {
        background: none;
    }

    h2 {
        @media screen and (min-width: $medium) {
            font-size: 32px;
            width: 66%;
            margin: auto;
            line-height: 52px;
            letter-spacing: .70px;
        }
    }

    .button-grey {
        //@media screen and (min-width: $medium) {
            width: 100%;
            padding: 24px;
        //}
    }

    .button-orange {
        @media screen and (min-width: $medium) {
            width: 100%;
        }
    }
}

// FOOTER 

#footer {
    text-align: center;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    min-height: 172px;
    margin-top: 20px;
    color: white;
    @media screen and (min-width: $medium) {
        text-align: left;
        padding-top: 40px;
    }

    hr {
        color: #5ba0cf;
        width: 74px;
        float: left;
        margin-top: -8px;
        border: 2px solid;
    }
    h2 {
        padding-bottom: 2px;
        border-bottom: 4px solid #5ba0cf;
        margin-bottom: 20px;
        display: inline-block;
        line-height: 120%;
        width: auto;
        
        @media screen and (min-width: $medium) {
            font-size: 18px;
            margin-top: 3px;
        }
    }

    p {
        clear: both;
        @media screen and (min-width: $medium) {
            font-size: 18px;
        }
    }

    .left {
        @media screen and (min-width: $medium) {
            padding-left: 90px;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: $orange;
        }
    }

    .right {
        @media screen and (min-width: $medium) {
            padding-right: 90px;
        }
        p {
            @media screen and (min-width: $medium) {
                text-align: right;
                font-size: 14px;
            }
        }
    }
}
