.placeholder-img {
  background-image: url("../img/placeholder.jpg");
  width: 100%;
  // width: 1280px;
  height: 1993px;
}

#roadContainer {
    background-image: url("../img/hero.jpg");
    // width: 100%;
    width: 1280px;
    height: 706px;
    display: block;
    // background-position-y: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:500;

    /*Chrome,Safari*/
    -webkit-clip-path: url(../img/iconsClipMask.svg);
    /* Firefox*/
    clip-path: url(../img/iconsClipMask.svg#svgClip);
    /* iOS support */
     -webkit-mask: url(../img/iconsClipMask.svg);

    left: 50%;
    margin-left: -640px;
}

#roadContainer2 {
    // width: 100%;
    width: 1280px;
    height: 706px;
    display: block;
    position:absolute;
    z-index:499;
    left: 50%;
    margin-left: -640px;
}


#roadContainer p {
    opacity:0;
    color: white;
    position: absolute;
    line-height: 28px;
}

#roadContainer p:first-child {
    font-size: 40px;
    text-align: center;
    font-family: $base-font-family;
    top: 101px;
    left: 266px;
    line-height: 110%;

    left: 50%;
    margin-left: -190px;
    display: block;
    width: 380px;

    @media screen and (min-width: $minimum) {
        margin-left: -250px;
        width: 500px;
    }

    @media screen and (min-width: $medium) {
        margin-left: -496px;
        width: 992px;
    }

    @media screen and (min-width: $full) {
        margin-left: -640px;
        width: 1280px;
    }
}

#roadContainer p#elevation {
    padding-top: 207px;
    padding-left: 70px;
}

#roadContainer p#pace {
    padding-top: 283px;
    padding-left: 456px;
}

#roadContainer p#bpm {
    padding-top: 310px;
    padding-left: 700px;
}

#roadContainer p#grade {
    padding-top: 323px;
    padding-left: 656px;
}

#roadContainer p#mph {
    padding-top: 545px;
    padding-left: 626px;
}

#roadContainer p#power {
    padding-top: 545px;
    padding-left: 165px;
}

#roadContainer p#grade {
    padding-top: 405px;
    padding-left: 925px;
}

#roadContainer p#sunny {
    padding-top: 265px;
    padding-left: 1090px;
    white-space: nowrap !important;
}

#roadContainer p#miles {
    padding-top: 580px;
    padding-left: 1120px;
}

.iconText {
    font-family: $base-font-family;
    font-size: 20px;
}

.iconText span {
    font-size: 40px;
}
#topAnimationsWrapper{
    display: block;
    position:relative;
    width:100%;
    height:1850px;

    margin-bottom: 70px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

