.placeholder-img {
  background-image: url("../img/placeholder.jpg");
  width: 1280px;
  height: 1993px;
}

#roadContainer, #roadContainer2 {
    background-image: url("../img/hero.jpg");
    width: 1280px;
    height: 706px;
    display: block;
    background-position-y: 30px;
/*     background-size: contain; */
    background-repeat: no-repeat;
}
/*@media screen and (min-width: $medium) {
    text-align: left;
} */

#roadContainer {
position:absolute; z-index:500;
    /*Chrome,Safari*/
    -webkit-clip-path: url(../img/iconsClipMask.svg);

    /* Firefox*/
    clip-path: url(../img/iconsClipMask.svg#svgClip);

    /* iOS support */
     -webkit-mask: url(../img/iconsClipMask.svg);

}
#roadContainer2 {
    position:absolute; z-index:499;
}


#roadContainer p {
    color: white;
    position: absolute;
    line-height: 28px;
}

#roadContainer p:first-child {
    font-size: 40px;
    text-align: center;
    font-family: $base-font-family;
    top: 101px;
    left: 266px;
}

#roadContainer p#elevation {
    padding-top: 207px;
    padding-left: 70px;
}

#roadContainer p#pace {
    padding-top: 283px;
    padding-left: 456px;
}

#roadContainer p#bpm {
    padding-top: 310px;
    padding-left: 700px;
}

#roadContainer p#grade {
    padding-top: 323px;
    padding-left: 656px;
}

#roadContainer p#mph {
    padding-top: 545px;
    padding-left: 626px;
}

#roadContainer p#power {
    padding-top: 545px;
    padding-left: 165px;
}

#roadContainer p#grade {
    padding-top: 405px;
    padding-left: 925px;
}

#roadContainer p#sunny {
    padding-top: 265px;
    padding-left: 1090px;
    white-space: nowrap !important;
}

#roadContainer p#miles {
    padding-top: 580px;
    padding-left: 1120px;
}

.iconText {
    font-family: $base-font-family;
    font-size: 20px;
}

.iconText span {
    font-size: 40px;
}
#topAnimationsWrapper{
    display: block;
    position:relative;
    width:100%;
    height:1850px;

    margin-bottom: 70px;

    img {
        width: 100%;
    }
}

