body {
	font-family: $base-font-family;
	color: $dark-green;
}

h1 {
    font-size: 43.69px;
    font-weight: $light;
    letter-spacing: .9px;
}

h2 {
	font-size: 31px;
	letter-spacing: .9px;
	font-weight: $light;
}

p {
	font-size: 21px;
    line-height: 38px;
}


