body {
	font-family: $base-font-family;
	color: $dark-green;
	background-color: white;
}

h1 {
	font-size: 31px;
    text-align: center;
    margin-bottom: 30px;
	font-weight: $light;
    letter-spacing: .9px;
    text-align: center;
	@media screen and (min-width: 992px) {
	    font-size: 43.69px;
	}
}

h2 {
	font-size: 21px;
	letter-spacing: .9px;
	font-weight: $light;
	padding-bottom: 2px;
	border-bottom: 4px solid #5ba0cf;
	margin-bottom: 20px;
	display: inline-block;

	@media screen and (min-width: 992px) {
	    font-size: 31px;
	}
}

p {
	font-size: 14px;
    line-height: 31px;
    @media screen and (min-width: 992px) {
	    font-size: 21px;
	    line-height: 38px;
	}
}


