@font-face {
	font-family: 'AvenirBook';
	src: url('../fonts/hinted-Avenir-Book.eot');
	src: local('Avenir Book'), local('Avenir-Book'),
		url('../fonts/hinted-Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-Avenir-Book.woff2') format('woff2'),
		url('../fonts/hinted-Avenir-Book.woff') format('woff'),
		url('../fonts/hinted-Avenir-Book.ttf') format('truetype'),
		url('../fonts/hinted-Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
