@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
// FONT WEIGHTS

$light: 100;
$regular: 400;
$bold: bold;

// BASE FONT

$base-font-family: "Open Sans";
$roman-font-family: "Open Sans";
$light-font-family: "Open Sans";

// DEFAULT COLORS

$orange: #f8533b;
$dark-green: #364447;
$thumbler-red: #ED684B;
$dark-orange: #d54e3e;
$light-grey: #eeeeee;
$blue: #5ba0cf;

// LAYOUT

$minimum: 500px;
$medium: 992px;
$full: 1280px;

// IMPORTS

@import "partials/hamburger";
@import "partials/typography";
@import "partials/elements";
@import "partials/layout";
@import "partials/maze";
@import "partials/forecast";
@import "partials/roadContainer";
@import "partials/roadIcons";
