
// FONT WEIGHTS

$light: 100;
$regular: 400;
$bold: bold;

// BASE FONT

$base-font-family: 'avenir, Arial';

// DEFAULT COLORS

$orange: #f8533b;
$dark-green: #364447;
$dark-orange: #d54e3e;
$light-grey: #eeeeee;
$blue: #5ba0cf;

// LAYOUT

$medium: 992px;
$full: 1280px;

// IMPORTS

@import "partials/hamburger";
@import "partials/typography";
@import "partials/elements";
@import "partials/layout";
@import "partials/roadIcons";
@import "partials/funnel";
@import "partials/roadContainer";